/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

config/database.yml
config/secrets.yml
config/initializers/secret_token.rb
config/master.key

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

/public/assets/**

.DS_Store
.byebug_history
