@import 'bootstrap';

$width: 1020px;

$bg-primary: #f9f8f0;

$c-label:    #aaa;
$c-light:    #777;
$c-blue:     #2a8bcc;
$c-green:    #148827;
$c-red:      #f31f00;

$border: 1px solid #ccc;

$font-s:   .8em;
$font-l:  1.2em;
$font-xl: 1.8em;



// Utils

.clickable {
  cursor: pointer;
}

.main-width {
  margin: 0 auto;
  max-width: $width;
}

.nowrap {
  flex-shrink: 0;
  white-space: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.expand {
  flex-grow: 100;
}

.d-flex-v {
  display: flex;
  flex-direction: column;
}

.ai-right {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.link {
  color: $c-blue;
  transition: color 200ms;

  &:hover {
    color: $c-green;
  }
}

.sheet {
  background: white;
  box-shadow: 0 0 18px rgba(0,0,0,0.03);
}

// Colors

.c-label {
  color: $c-label;
}

.c-light {
  color: $c-light;
}

.c-red {
  color: $c-red;
}

.ceen {
  color: $c-green;
}

// Font rules

.fs-s {
  font-size: $font-s;
}

.fs-l {
  font-size: $font-l;
}

.font-secondary {
  font-family: Marck Script;
  line-height: 0.84em;
}

.fs-xl {
  font-size: $font-xl;
}

.fw-1 {
  font-weight: 100;
}

.fw-4 {
  font-weight: 400;
}

// Header

.header-container {
  background: white;
}

.header {
  font-size: 1.1em;
  font-weight: 100;

  .header_nav {
    display: flex;
    font-weight: 100;
  }

  .nav-item {
    font-size: $font-l;
    margin: 6px 0;
  }
}

.header_logo {
  height: 300px;
}

.header_title-image {
  width: 12rem;
}

// Footer

.footer-container {
  background: #31404a;
  color: #ccc;
  font-weight: 100;
  min-height: 120px;
}


// Content

.content {
  min-height: 600px;
}


// Markdown

.md {
  overflow: hidden;

  img {
    border-radius: 2px;
    display: block;
    float: left;
    margin-bottom: 14px;
    margin-right: 24px;
    margin-top: 14px;
    max-height: 30em;
    max-width: 40%;
  }

  clear {
    clear: both;
    display: block;
  }
}


// Common

body {
  background-attachment: fixed;
  background-image: url('/img/pad.png');
  background-size: 80px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}


// Media
@include media-breakpoint-down(md) {
  .header_title {
    font-size: 1.1em;
  }


  .header_logo {
    height: 260px;
  }
}

@media (max-width: 859.98px) {
  .header_title-left {
    display: none;
  }

  .header_logo {
    height: 240px;
  }
}

@include media-breakpoint-down(sm) {
  .header_title-left {
    display: none;
  }

  .header_logo {
    height: 300px;
  }

  .header_title {
    font-size: 1.2em;
  }
}

@media (max-width: 679.98px) {
  .header_contacts {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .header_title {
    font-size: 0.9em;
  }

  .header_logo {
    height: 240px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-col {
    margin: 12px 0;
  }
}

@media (max-width: 479.98px) {
  .header_logo {
    height: 180px;
  }

  .header_title {
    margin-top: 24px !important;
    font-size: 0.8em;
  }

  .header_title-right {
    margin: 0 !important;
  }

  .header_nav {
    font-size: 0.8em;
  }
}
