- [["vk.com", "fa-vk"],
   ["twitter.com", "fa-twitter"],
   ["facebook.com", "fa-facebook-square"],
   ["instagram.com", "fa-instagram"]].each do |(url, klass)|
   =link_to "https://#(url)", class: "mx-1" do
     i.fab class=klass rel="nofollow"
